In [32]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import pickle

In [33]:
bank = pd.read_csv("BankNote_Authentication.csv")

In [34]:
bank.shape # records and # columns

(1372, 5)

In [35]:
print(bank.head())

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [36]:
bank.describe() # summary to understand the data, prints the summary only for numeric attributes by default

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [37]:
bank.info() # To understand the data type for each of the variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [38]:
bank.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [39]:
X = bank.drop(['class'],axis=1) #independent attributes

In [40]:
y = bank['class'] #dependent attributes

In [41]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0,stratify=y)

In [42]:
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [43]:
y_pred_train=classifier.predict(X_train)

In [44]:
from sklearn.metrics import accuracy_score
score_train=accuracy_score(y_train,y_pred_train)

In [45]:
print(score_train)

1.0

In [46]:
y_pred_test=classifier.predict(X_test)

In [47]:
score_test=accuracy_score(y_test,y_pred_test)

In [48]:
print(score_test)

0.9902912621359223

In [49]:
pickle_out = open("BankNote.pickle","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [50]:
print(classifier.predict([[3.62160,8.6661,-2.8073,-0.44699]]))

[0]

C:\Users\Solo\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(